.choice{
  margin-top: 130px;
}
.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}
.choice__inner {
  position: relative;

  padding-top: 100px;
  padding-bottom: 315px;
  background-color: #2c343e;
  border-radius: 10px;
}
.choice__heading {
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #fefcf7;
}
.choice__text {
  margin: 0;
  max-width: 540px;
  width: 100%;
  margin: 0 auto;
  font-family: "Barlow";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
  opacity: 0.8;
}
.choice__list {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 40%);
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  position: absolute;
  display: flex;
}
.choice__item {
  max-width: 350px;
  width: 100%;
  background-color: #0e8784;
  border-radius: 10px;
  padding: 48px;
  padding-top: 72px;
  text-align: center;
  color: #fefcf7;
}
.choice__item + .choice__item {
  margin-left: 30px;
}
.choice__item::before {
  content: "";
  width: 72px;
  height: 72px;
  display: block;
  margin: 0 auto;
  margin-bottom: 56px;
  background-image:url('../../img/coffe\ logo\ svg.svg') ;
}
.second__img::before {
  content: "";
  width: 72px;
  height: 72px;
  display: block;
  margin: 0 auto;
  margin-bottom: 56px;
  background-image:url('../../img/car.svg') ;
  background-repeat: no-repeat;
}
.third__img::before {
  content: "";
  width: 72px;
  height: 72px;
  display: block;
  margin: 0 auto;
  margin-bottom: 56px;
  background-image:url('../../img/gift.svg') ;
}
.choice__item__heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}
.choice__item__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}
@media only screen and (max-width: 1015px) {
  .choice{
    margin-bottom: 500px;
  }
  
  .choice__list {
    max-width: 70%;
    flex-direction: column;
    bottom: 0%;
    transform: translate(50%, 50%);
  }
  .choice__inner {
    padding-bottom: 470px;

    margin-top: 56px;
  }
  .choice__item {
    padding-top: 40px 70px;
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
  }
  .choice__item__text{
      width: 80%;
  }
  .choice__item + .choice__item {
    margin-left: 0;
    margin-top: 24px;
  }
  .choice__item::before {
    flex-shrink: 0;
    margin: 0 55px;
  }
}
@media only screen and (max-width: 768px) {
  .choice{
    margin-bottom: 700px;
  }

  .choice__list {
   max-width: 375px;
   width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .choice__inner {
    padding-bottom: 660px;
    padding-top: 65px;
  }
  // .choice__list {
  //   max-width: 375px;
  //   width: 100%;
  //  }
  .choice__item {
    flex-direction: column;
    padding: 72px 0px;
    
    padding-bottom: 48px;
    margin: 0 auto;
    text-align: center;
  }
  .choice__text {
    max-width: 80%;
    margin: 0 auto;
  }
  .choice__item::before {
    margin-bottom: 56px;
  }
  .choice__item__text{
    margin: 0 auto;
    padding: 0;
}
}
@media only screen and (max-width: 575px) {
    .choice__inner {
        padding-bottom: 700px;
        padding-top: 65px;
      }
      .choice__list {
        max-width: 375px;
        width: 100%;
       }
      .choice__item{
        width: 110%;
      }
    .choice__heading {
      
    font-size: 28px;
    line-height: 28px;
  }
  .choice__text {
    font-size: 15px;
    line-height: 25px;
  }
  .choice__item__heading {
    font-weight: 500;
    font-size: 24px;
line-height: 32px;
  }
  .choice__item__text {
    font-size: 16px;
    line-height: 26px;
  }
}
@media only screen and (max-width: 475px) {
  .choice__list {
    
    width: 90%;
   }
}
