.footer {
  margin-top: 200px;
  margin-bottom: 80px;
}

.footer__back {
  background-color: #2c343e;
  padding-left: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 47px;
  padding-bottom: 47px;
}
.footer-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.footer__icons {
  display: flex;
}
.footer__icons a {
  margin-left: 24px;
}
.footer-link {
  text-decoration: none;
  padding-left: 30px;
  color: #83888f;
  font-family: "Barlow";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
}
.footer-link:hover {
  color: #fff;
}
.footer-item + .footer-item {
  padding-left: 30px;
}
.footer__icons {
  margin-right: 60px;
}
@media only screen and (max-width: 1100px) {
  .footer {
    margin-top: 200px;
  }
  .footer__back {
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    padding: 54px 0;
  }

  .footer-list {
    padding-top: 30px;
    margin: 0;
    padding-bottom: 80px;
    padding: 35px 0;
  }
  .footer__link{
    font-size: 12px;
    line-height: 15px;
    padding:0 ;
  }
  .footer__icons {
    margin: 0;
  }
}
@media only screen and (max-width: 460px){
    .footer-list{
        flex-direction: column;
    }
    .footer-item{
       padding-right: 0;
       padding-top: 24px;
       margin: 0;
        text-align: center;
    }
    .footer-item + .footer-item {
        padding-left: 0;
      }
    .footer-link{
        padding: 0;
        margin: 0;
    }
}
