.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 44px 20px;
}
.header{
    background-color: #fff;
    opacity: .8;
    z-index: 1001;
}
.header__menu-button{
    color: #000;
    font-size: 20px;
    font-weight: 900;
    background-color: transparent;
    cursor: pointer;
    display: none;
    border: none;
}
@media only screen and (max-width:768px) {
    .header__menu-button{
        display: block;
        z-index: 101;
    }
    .header__menu-button:checked:nth-child(2){
        display: block;
    }
    .nav{
        display: none;
    }
    .header--active .nav{
        position: fixed;
        top: 100px;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color:rgba(255, 255, 255, 1);
        z-index: 100;
        display: block;
    }
    .header--active .nav__list{
        display: flex;
        flex-direction: column;
    }
    .header--active .nav__item +.nav__item{
        margin-left: 0;
        margin-top: 30px;
    }
}
@media only screen and (max-width:575px){
    .header__link{
        width: 236px;
    }
} 